{% extends 'shared/_layout.html' %}

{% block title %}
    فراموشی کلمه عبور
{% endblock %}

{% block content %}
    <div class="h-max mx-auto flex flex-col items-center">
        <img class="h-[40px] w-[47px] mb-5" src="/asset/images/icons8_developer_64.png" alt="picture__logo" loading="lazy">
        <h1 class="text-xl font-bold text-center pb-10">فراموشی کلمه عبور</h1>
        <form action="{% url 'forget_password_page' %}" method="post">
            {% csrf_token %}
            <div class="bg-white shadow-xl p-10 flex flex-col gap-4 text-sm">
                <div>
                    <label class="text-gray-600 font-bold inline-block pb-2" for="email">{{ forget_pass_form.email.label_tag }}</label>
                    {{ forget_pass_form.email }}
                    <div class="error">
                        {{ forget_pass_form.email.errors }}
                    </div>
                </div>
                <div>
                    <button class="bg-[#4F46E5] w-full py-2 rounded-md text-white font-bold cursor-pointer hover:bg-[#181196]" type="submit">فراموشی کلمه عبور</button>
                </div>
            </div>
        </form>
        <p class="text-sm text-gray-500 mt-10"><a href="{% url 'home_page' %}" class="text-[#4F46E5] font-bold">برگشت به صفحه اصلی</a></p>
    </div>
{% endblock %}