<header class="absolute inset-x-0 top-0 z-50 py-6">
    <div class="mx-auto lg:max-w-7xl w-full px-5 sm:px-10 md:px-12 lg:px-5">
        <nav class="w-full flex justify-between gap-6 relative">
            <!-- logo -->
            <div class="min-w-max inline-flex relative">
                <button class="theme-toggle">
                    <ion-icon id="sunny" name="sunny"></ion-icon>
                    <ion-icon id="moon" name="moon"></ion-icon>
                </button>
                <a href="/" class="relative flex items-center gap-3">
                    <div class="inline-flex text-lg font-semibold text-gray-900">
                        {% if site_setting.logo %}
                            <img src="{{ site_setting.logo.url }}" alt="logo">
                        {% else %}
                            <img src="/asset/images/icons8_developer_64.png" alt="logo">
                        {% endif %}
                    </div>
                </a>
            </div>
            <div data-nav-overlay="" aria-hidden="true" class="fixed hidden inset-0 lg:!hidden bg-gray-800/60 bg-opacity-50 backdrop-filter backdrop-blur-xl">
            </div>
            <div data-navbar="" class="flex invisible opacity-0  translate-y-10 overflow-hidden lg:visible lg:opacity-100  lg:-translate-y-0 lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-white lg:!bg-transparent border-x border-x-gray-100 lg:border-x-0">
                <ul class="border-t border-gray-100  lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-gray-700 w-full lg:justify-center lg:items-center">
                    <li>
                        <a href="{% url 'home_page' %}"
                           class="duration-300 font-medium ease-linear hover:text-blue-600 py-3
                           {% if request.resolver_match.url_name == 'about_us_page' or request.resolver_match.url_name == 'article_list_page' %}
                                text-white
                           {% endif %}"
                        >

                            {% if request.user.is_authenticated %}
                                ({{ user }})
                            {% endif %}خانه
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'article_list_page' %}"
                           class="duration-300 font-medium ease-linear hover:text-blue-600 py-3
                           {% if request.resolver_match.url_name == 'about_us_page' or request.resolver_match.url_name == 'article_list_page' %}
                                text-white
                           {% endif %}"
                        >
                            مقالات
                        </a>
                    </li>
                    {% if not request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'login_page' %}"
                               class="duration-300 font-medium ease-linear hover:text-blue-600 py-3
                               {% if request.resolver_match.url_name == 'about_us_page' or request.resolver_match.url_name == 'article_list_page' %}
                                    text-white
                               {% endif %}"
                            >
                                ورود
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'about_us_page' %}"
                           class="duration-300 font-medium ease-linear hover:text-blue-600 py-3  {% if request.resolver_match.url_name == 'about_us_page' or request.resolver_match.url_name == 'article_list_page' %} text-white {% endif %}"
                        >
                            درباره ما
                        </a>
                    </li>
                </ul>
                <div class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-gray-100   lg:border-0 px-6 lg:px-0">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'logout_page' %}" class="flex justify-center items-center w-full sm:w-max px-6 h-12 rounded-full outline-none relative overflow-hidden border duration-300 ease-linear
                            after:absolute after:inset-x-0 after:aspect-square after:scale-0 after:opacity-70 after:origin-center after:duration-300 after:ease-linear after:rounded-full after:top-0 after:left-0 after:bg-[#172554] hover:after:opacity-100 hover:after:scale-[2.5] bg-blue-600 border-transparent hover:border-[#172554]">
                            <span class="relative z-10 text-white">
                                خروج
                            </span>
                        </a>
                        {% if request.user.is_active %}
                            {% if request.user.is_staff %}
                                {% if request.user.is_superuser %}
                                    {% if request.user.is_dev %}
                                        <a href="/admin" class="panel flex justify-center items-center w-full sm:w-max px-6 h-12 rounded-full outline-none relative overflow-hidden border duration-300 ease-linear
                                           after:absolute after:inset-x-0 after:aspect-square after:scale-0 after:opacity-70 after:origin-center after:duration-300 after:ease-linear after:rounded-full after:top-0 after:left-0 after:bg-[#172554] hover:after:opacity-100 hover:after:scale-[2.5] bg-blue-600 border-transparent hover:border-[#172554]">
                                            <span class="relative z-10 text-white">
                                                پنل ادمین
                                            </span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <a href="{% url 'register_page' %}" class="flex justify-center items-center w-full sm:w-max px-6 h-12 rounded-full outline-none relative overflow-hidden border duration-300 ease-linear
                           after:absolute after:inset-x-0 after:aspect-square after:scale-0 after:opacity-70 after:origin-center after:duration-300 after:ease-linear after:rounded-full after:top-0 after:left-0 after:bg-[#172554] hover:after:opacity-100 hover:after:scale-[2.5] bg-blue-600 border-transparent hover:border-[#172554]">
                            <span class="relative z-10 text-white">
                                ثبت نام
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="min-w-max flex items-center gap-x-3">
                <button data-toggle-navbar="" data-is-open="false" class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative">
                    <span id="line-1" class="w-6 h-0.5 rounded-full bg-gray-700 transition-all duration-300 ease-linear"></span>
                    <span id="line-2" class="w-6 origin-center  mt-1 h-0.5 rounded-ful bg-gray-700 transition-all duration-300 ease-linear"></span>
                    <span id="line-3" class="w-6 mt-1 h-0.5 rounded-ful bg-gray-700 transition-all duration-300 ease-linear"></span>
                    <span class="sr-only">togglenav</span>
                </button>
            </div>
        </nav>
    </div>
</header>